<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>
<div class="container">
	<hr>
	<h2>Categorias</h2>
	<hr>
	<table class="table table-bordered text-center">
		<thead>
			<tr>
				<th>Id</th>
				<th>Título</th>
				<th>Slug</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<% categories.forEach(({id, title, slug}) => {%>
			<tr>
				<td><%= id %></td>
				<td><%= title %></td>
				<td><%= slug %></td>
				<td></td>
			</tr>
			<% }) %>
		</tbody>
	</table>
</div>
<%- include ("../../partials/footer.ejs") %>